
/*header*/
header.header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header.header nav.navbar {
    width: 1000px;
    height: 30px;
    background: #f5f5f5;
    margin: auto;
    position: relative;
}

header.header nav.navbar ul {
    list-style: none;
    padding-left: 30px;
}

header.header nav.navbar li {
    float: left;
    display: list-item;
    text-align: -webkit-match-parent;
}

.header-nav-link {
    display: block;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    text-decoration: none;
}

.header-nav-link:hover, .header-nav-link:focus {
    color: #4078c0;
}

/*footer*/
footer.footer {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    text-align: center;
    border-top: 1px solid #000;
}