/* 分页 */
.pagination {
    padding: 10px;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
}
.pagination a, .pagination span {
    display: inline;
    line-height: 20px;
}

.pagination a, .pagination span {
    margin: 0 4px;
    float: left;
    padding: 0 14px;
    line-height: 30px;
    text-decoration: none;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-right: 5px;
    color: #aaa;
}
.pagination span.current{
    color: #999999;
    background-color: #fff;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination span.current{
    cursor: default;
}

.pagination  a:hover, .pagination a:focus {
    color: #444;
    background-color: #fff;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}