<!-- 内容页 -->
<section class="section">
    <div class="content">
        <article class="article"  id="write">
            <%- page.content %>
        </article>
    </div>
</section>

<!-- <%= page.title %> -->
<!-- <%- date(page.date, "YYYY-MM-DD") %> -->