
<header class="header">
    <nav class="navbar">
        <ul>
            <% for (name in theme.menu) { %>
            <li><a class="header-nav-link" href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
            <% } %>
        </ul>
    </nav>
</header>